@use "../abstracts" as *;

.hero {
  padding: 100px 0;
  color: $white;

  &__grid {
    min-height: 70vh;
    min-width: 680px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-items: center;

    @include breakpoint-down(medium) {
      grid-template-columns: 1fr;
      min-width: 100px;
      text-align: center;
    }
  }

  &__text {
    @include breakpoint-down(medium) {
      max-width: 450px;
    }
    h1 {
      font-size: 55px;
      @include breakpoint-down(large) {
        font-size: 36px;
      }
      line-height: 1.3;
      margin-bottom: 1rem;

      > span {
        display: inline-block;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $golden-puppy;
        -webkit-text-fill-color: transparent;
      }
    }
    p {
      margin-bottom: 1rem;
      font-size: 18px;
    }
    a {
      &.btn-left {
        background-color: $golden-puppy;
        color: $black;
        font-weight: bold;
        font-size: $font-sm;
        margin-right: 0.5rem;
      }
      &.btn-right {
        color: $white;
        font-weight: bold;
        font-size: $font-sm;
        border: $golden-puppy 1px solid;
      }
    }
  }

  &__image {
    background-image: url("/images/hero-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 20px solid $earie-black-1;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    @include breakpoint-down(large) {
      height: 450px;
      width: 450px;
    }
    @include breakpoint-down(medium) {
      height: 350px;
      width: 350px;
    }
  }
}
