// Breakpoints
@media (min-width: 64em) {
  //styles go here
}

// 640px, 1024px, 1200px
$breakpoints-up: (
  "medium": "40em",
  "large": "64em",
  "xlarge": "75em",
);

// 639px, 1023px, 1199px
$breakpoints-down: (
  "small": "39.937em",
  "medium": "63.937em",
  "large": "74.937em",
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

// Visibility
.hide-for-xlarge {
  @include breakpoint-up((xlarge)) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-down(large) {
    display: none;
  }
}
.hide-for-tablet {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-mobile {
  @include breakpoint-down(small) {
    display: none;
  }
}

.button,
input {
  &.hide-for-phone {
    @include breakpoint-down(small) {
      display: none;
    }
  }
}
